@charset "utf-8";

@font-face {
  font-family: 'Pretendard-bold';
  src: url('../style//fonts/Pretendard-Bold.ttf');
}

@font-face {
  font-family: 'Pretendard-medium';
  src: url('../style//fonts/Pretendard-Medium.ttf');
}

@font-face {
  font-family: 'Pretendard-light';
  src: url('../style//fonts/Pretendard-Light.ttf');
}
